COMPOSE_PROFILES=prod

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=hive
POSTGRES_DATA_DIR=./.docker/postgres-prod

RUST_LOG=hive_api=info,tower_http=info

HIVE_DOMAIN=my-hive.duckdns.org
CERTBOT_CERT_NAME=hive
CERTBOT_EMAIL=you@example.com
CERTBOT_DATA_DIR=./nginx_secrets-staging

# Keep this as 1 while testing. For the real certificate set STAGING=0
# and change CERTBOT_DATA_DIR to ./nginx_secrets.
STAGING=1
DHPARAM_SIZE=2048
USE_ECDSA=1
RENEWAL_INTERVAL=8d
